// Lista de productos
.product-list {
    @include flex(row, flex-start, flex-start);
    flex-wrap: wrap;
  }
  
  // Estilos para cada tarjeta de producto en la lista
  .product-card {
    @include flex(column);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    max-width: 300px;
  
    img {
      max-width: 100%;
    }
  }