// Colores primarios
$primary-color: #007bff;
$secondary-color: #6c757d;

// Colores de texto
$text-color: #333;
$heading-color: #444;

// Otros colores
$success-color: #28a745;
$warning-color: #ffc107;
$error-color: #dc3545;